body {
  background: black;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: #ffffff;
}

h1 {
  font-family: verdana;
  color: #ffffff;
}

a {
 color: white;
  background-color: linear-gradient(90deg, rgba(0,255,48,1) 0%, rgba(0,242,255,1) 100%);
  padding: 5px 11px;
  border: 10px solid linear-gradient(90deg, rgba(0,255,48,1) 0%, rgba(0,242,255,1) 100%);
}
