body {
  background: rgb(0,0,0);
}

p {
  font-family: verdana;
  font-size: 20px;
  color: #ffffff
}

h1 {
  font-family: verdana;
  color: #ffffff
}

/* Add a black background color to the top navigation */
.topnav {
   background: rgb(0,255,48);
background: linear-gradient(90deg, rgba(0,255,48,1) 0%, rgba(0,242,255,1) 100%);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: verdana;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
Try it Yourself »

