body {
  background: rgb(0,255,48);
background: linear-gradient(90deg, rgba(0,255,48,1) 0%, rgba(0,242,255,1) 100%);
}

p {
  font-family: verdana;
  font-size: 20px;
}

h1 {
  font-family: verdana;
}
